.root {
      -fx-background-image: url("/images/menu.jpg");
    -fx-background-repeat:stretch,stretch;
    -fx-background-size:cover;
    -fx-background-position: center center;
  }
.root2 {
    -fx-background-image: url("/images/choosechar.jpg");
    -fx-background-position: center center;
    -fx-background-repeat:stretch,stretch;
    -fx-background-size: cover;

}
.choosechar {
    -fx-background-image: url("/images/choosechar.jpg");
    -fx-background-position: center top;
    -fx-background-size: cover;
}
.blueButton {
    -fx-background-color: transparent;
    -fx-background-position: center top;
    -fx-border-color:black;
}
.blueButton:hover {
    -fx-background-color: rgba(123, 126, 128, 0.82); /* Green */
    -fx-border-color:white;
    -fx-text-fill:white;
    -fx-font: Champions;
    -fx-font-style: Bold;
}
.redButton {
    -fx-background-color: transparent;
    -fx-background-position: center top;
    -fx-border-color:black;
}
.redButton:hover {
    -fx-background-color: rgba(255, 0, 18, 0.82); /* Green */
    -fx-border-color:white;
    -fx-text-fill:white;
}

.toggle-button{
    -fx-background-image: url("/images/Webp.net-resizeimage.jpg");
    -fx-background-color: transplant;
    -fx-background-position: center;
    -fx-border-color: white;
}

.backmenu {
    -fx-background-color:transparent;
}
.backmenu:hover {
    -fx-background-color:transparent;
    -fx-rotate:90;
}
.menu-item .label {
    -fx-text-fill: white;
}
.menu-item:focused {
    -fx-background-color: darkgray;
}
.menu-item:focused .label {
    -fx-background-color: darkgray;
}
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: darkgray;
}
.context-menu {
    -fx-background-color: black;
    -fx-my-menu-color-highlighted:darkgray;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}
.inputDeatils {
     -fx-background-image: url("/images/stadium.jpg");
     -fx-background-repeat:stretch,stretch;
     -fx-background-size:cover;
     -fx-background-position: center center;
 }

